doctype html

html
   head
     link(rel='stylesheet', type='text/css', href='stylesheets/style.css')
   body
     #wrapper
       #headerwrap
         #header
           p This is the Header
       #navigationwrap
         #navigation
           #stylefour
             ul
               li
                 a(href='#', title='')
                   span Home
               li
                 a(href='/#', title='')
                   span News
               li
                 a(href='/#', title='')
                   span Search
               li
                 a(href='/login', title='')
                   span Social
               li
                 a(href='/auth/google', title='')
                   span Logout
       #contentwrap
         #content
           div

       #rightcolumnwrap
         #rightcolumn
           p LATEST PREMIERES
       #footerwrap
         #footer
           p
             a(href='mailto:userbookweb@gmail.com') Click to contact Us